#seat-container {
  /* display: flex;
  flex-direction: column;
  flex-wrap: nowrap; */
}

.seat-col {
  height: 30px;
  display: flex;
  flex-wrap: nowrap;
}

.seat-unchoose {
  width: 20px;
  height: 20px;
  /* border: 1px solid black; */
  display: inline-block;
  margin: 5px;
}

.seat-choose {
  width: 20px;
  height: 20px;
  color: black;
  display: inline-block;
  margin: 5px;
}